[submodule "cimgui"]
	path = res/cimgui
	url = git@github.com:cimgui/cimgui.git
	branch = master
[submodule "gobject"]
	path = gobject
	url = git@github.com:ianprime0509/zig-gobject.git
	branch = main
[submodule "stb"]
	path = res/stb
	url = git@github.com:nothings/stb.git
